# Stellar network — "testnet" | "mainnet"
PLASMO_PUBLIC_STELLAR_NETWORK=testnet

# Horizon RPC endpoint
PLASMO_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# Soroban RPC endpoint
PLASMO_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
