@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/SFProRounded-Black.ttf") format("truetype");
}
